<footer class="p-4">
  <div class="container">
    <div class="row">
      <!-- Column 1: Logo -->
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <img src="assets/images/drzewo_inv.png" alt="WSB-NLU" class="footer-logo" width="150" height="60" loading="lazy" />
      </div>

      <!-- Column 2: University Links -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="https://www.wsb-nlu.edu.pl/" target="_blank" rel="noopener noreferrer" class="text-white">
              {{ 'footer.wsbnlu.university-site' | translate }}
            </a>
          </li>
          <li class="mb-2">
            <a href="https://www.wsb-nlu.edu.pl/pl/aktualnosci" target="_blank" rel="noopener noreferrer" class="text-white">
              {{ 'footer.wsbnlu.news' | translate }}
            </a>
          </li>
          <li class="mb-2">
            <a href="https://www.wsb-nlu.edu.pl/pl/biblioteka" target="_blank" rel="noopener noreferrer" class="text-white">
              {{ 'footer.wsbnlu.library' | translate }}
            </a>
          </li>
          <li class="mb-2">
            <a href="https://www.wsb-nlu.edu.pl/pl/dolacz-do-nas" target="_blank" rel="noopener noreferrer" class="text-white">
              {{ 'footer.wsbnlu.join' | translate }}
            </a>
          </li>
        </ul>
      </div>

      <!-- Column 3: Settings Links -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <ul class="list-unstyled">
          @if (showPrivacyPolicy) {
            <li class="mb-2">
              <a routerLink="info/privacy" class="text-white">
                {{ 'footer.link.privacy-policy' | translate }}
              </a>
            </li>
          }
          <li class="mb-2">
            <a routerLink="info/cookies" class="text-white">
              {{ 'footer.link.cookies-policy' | translate }}
            </a>
          </li>
          <li class="mb-2">
            <a routerLink="info/accessibility" class="text-white">
              {{ 'footer.link.accessibility' | translate }}
            </a>
          </li>
          @if (showEndUserAgreement) {
            <li class="mb-2">
              <a routerLink="info/end-user-agreement" class="text-white">
                {{ 'footer.link.end-user-agreement' | translate }}
              </a>
            </li>
          }
          @if (showSendFeedback$ | async) {
            <li class="mb-2">
              <a routerLink="info/feedback" class="text-white">
                {{ 'footer.link.feedback' | translate }}
              </a>
            </li>
          }
          @if (showCookieSettings) {
            <li class="mb-2">
              <button class="btn btn-link text-white p-0" type="button" (click)="openCookieSettings()">
                {{ 'footer.link.cookies' | translate }}
              </button>
            </li>
          }
        </ul>
      </div>

      <!-- Column 4: Address -->
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div class="text-white footer-address">
          <p class="mb-1">{{ 'footer.wsbnlu.name' | translate }}</p>
          <p class="mb-1">{{ 'footer.wsbnlu.address-line1' | translate }}</p>
          <p class="mb-1">{{ 'footer.wsbnlu.phone' | translate }}, {{ 'footer.wsbnlu.nip' | translate }}</p>
          <p class="mb-1">{{ 'footer.wsbnlu.epuap' | translate }}</p>
        </div>
      </div>
    </div>

    <!-- Copyright centered below -->
    <div class="row mt-3">
      <div class="col-12 text-center">
        <p class="text-white footer-copyright">
          <a href="http://www.dspace.org/" target="_blank" rel="noopener noreferrer" class="text-white">
            {{ 'footer.link.dspace' | translate }}
          </a>
          {{ 'footer.copyright' | translate:{year: '2025'} }}
          <a href="https://www.lyrasis.org/" target="_blank" rel="noopener noreferrer" class="text-white">
            {{ 'footer.link.lyrasis' | translate }}
          </a>
          |
          <a href="https://dspace.iplweb.pl" target="_blank" rel="noopener noreferrer" class="text-white">
            {{ 'footer.iplweb-update' | translate }}
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>