<h1>{{ 'info.cookies.head' | translate }}</h1>

<h2>I. Postanowienia ogólne</h2>

<ol>
  <li>Niniejszy dokument określa zasady na jakich Wyższa Szkoła Biznesu - National Louis University z siedzibą w Nowym Sączu ul. Grunwaldzka 17, 33-300 Nowy Sącz, NIP: 734-10-03-635, REGON: 490028409 (zwana dalej „WSB-NLU") wykorzystuje pliki cookies na stronie internetowej <a href="http://repozytorium.wsb-nlu.edu.pl">http://repozytorium.wsb-nlu.edu.pl</a> (zwanej dalej „Serwisem").</li>

  <li>Pliki cookies stanowią niewielkie pliki tekstowe umożliwiające korzystanie z Serwisu, które są przechowywane w urządzeniu końcowym użytkownika Serwisu (np. komputer lub smartfon). Pliki te zawierają co najmniej:
    <ul>
      <li>nazwę domeny serwisu internetowego, z którego pochodzą,</li>
      <li>czas przechowywania ich na urządzeniu końcowym oraz</li>
      <li>unikalną nazwę.</li>
    </ul>
    W plikach cookies może być także przechowywany unikalny, losowo wygenerowany numer, który może identyfikować urządzenie użytkownika, lecz nie jego tożsamość.
  </li>

  <li>Serwis może umieścić plik cookie w przeglądarce użytkowania znajdującej się na jego urządzeniu końcowym. Jest to jednak uzależnione od ustawień przeglądarki, w której funkcja umieszczania plików cookies może być wyłączona. Więcej na ten temat można znaleźć w punkcie IV. poniżej.</li>

  <li>Pliki cookies są bezpieczne dla urządzeń końcowych użytkowników Serwisu. W szczególności tą drogą nie jest możliwe przedostanie się do nich wirusów lub innego niechcianego lub złośliwego oprogramowania.</li>

  <li>Serwis zawiera linki i odnośniki do stron internetowych podmiotów trzecich. WSB-NLU nie ponosi odpowiedzialności za zasady ochrony prywatności obowiązujące na tych stronach.</li>
</ol>

<h2>II. Cele przetwarzania Cookies</h2>

<p>Serwis wykorzystuje pliki cookies w celu:</p>
<ul>
  <li>umożliwienia korzystania z Serwisu;</li>
  <li>dopasowania zawartości Serwisu do indywidualnych preferencji użytkownika. Przede wszystkim pliki te rozpoznają jego urządzenie, w celu wyświetlania Serwisu zgodnie z preferencjami użytkownika;</li>
  <li>przygotowywania statystyk pomagających poznaniu preferencji i zachowań użytkowników. Analiza tych statystyk jest anonimowa i umożliwia dostosowanie zawartości i wyglądu Serwisu do panujących trendów. Statystyki stosuje się też do oceny popularności Serwisu.</li>
</ul>

<h2>III. Kategorie plików cookies wykorzystywanych w Serwisie</h2>

<h3>1. W Serwisie wykorzystywane są dwa zasadnicze rodzaje plików cookies:</h3>
<ul>
  <li><strong>Cookies sesyjne:</strong> po zakończeniu sesji danej przeglądarki lub wyłączeniu urządzenia końcowego zapisane informacje są usuwane z pamięci tego urządzenia. Mechanizm cookies sesyjnych nie pozwala na pobieranie jakichkolwiek danych osobowych ani żadnych informacji poufnych z urządzeń końcowych użytkowników Serwisu.</li>
  <li><strong>Cookies trwałe:</strong> są przechowywane w pamięci urządzenia końcowego użytkownika Serwisu i pozostają tam do momentu ich skasowania lub wygaśnięcia. Mechanizm cookies trwałych nie pozwala na pobieranie jakichkolwiek danych osobowych ani żadnych informacji poufnych z urządzeń końcowych użytkowników Serwisu.</li>
</ul>

<h3>2. Ze względu na cel, jakiemu służą pliki cookies, w Serwisie stosowane są ich następujące rodzaje:</h3>
<ul>
  <li><strong>Cookies niezbędne:</strong> umożliwiające korzystanie z Serwisu;</li>
  <li><strong>Cookies analityczne:</strong> umożliwiające przeprowadzanie analiz i badań oraz audytu oglądalności, jak również tworzenie anonimowych statystyk, które pomagają zrozumieć, w jaki sposób użytkownicy korzystają z Serwisu. Umożliwia to ulepszanie jego struktury i zawartości;</li>
  <li><strong>Cookies wydajnościowe:</strong> służą do zrozumienia i analizy kluczowych wskaźników wydajności witryny, co pomaga w zapewnieniu użytkownikom lepszych wrażeń;</li>
  <li><strong>Cookies inne:</strong> inne niekategoryzowane pliki cookie są analizowane i nie zostały jeszcze skategoryzowane.</li>
</ul>

<h3>3. Ze względu na pochodzenie cookies:</h3>
<ul>
  <li><strong>Cookies własne,</strong> które umożliwiają korzystanie z dostępnych funkcji Serwisu.</li>
  <li><strong>Cookies stron trzecich (zewnętrzne):</strong>
    <ul>
      <li>Cookies niezbędne do zbierania ogólnych i anonimowych danych statycznych za pośrednictwem narzędzi analitycznych Google Analytics - Google Ireland Limited – w przypadku użytkowników usług Google w Europejskim Obszarze Gospodarczym i Szwajcarii – z siedzibą pod adresem Gordon House, Barrow Street, Dublin 4, Irlandia lub Google LLC – w przypadku użytkowników usług Google w Wielkiej Brytanii – z siedzibą pod adresem 1600 Amphitheatre Parkway, Mountain View, California 94043, USA.</li>
    </ul>
  </li>
</ul>

<h2>IV. Zarządzanie plikami cookies</h2>

<ol>
  <li>W każdym czasie użytkownik może dokonać zmiany ustawień dotyczących plików cookies w przeglądarce dostępnej na swoim urządzeniu końcowym.</li>

  <li>Szczegółowe informacje o możliwości i sposobach obsługi plików cookies dostępne są w ustawieniach oprogramowania przeglądarki internetowej.</li>

  <li>Poniżej znajdują się przykładowe opcje edycji ustawień plików cookies w popularnych przeglądarkach:
    <ul>
      <li>Google Chrome - <a href="https://support.google.com/chrome/answer/95647?hl=pl" target="_blank" rel="noopener noreferrer">https://support.google.com/chrome/answer/95647?hl=pl</a></li>
      <li>Safari - <a href="https://support.apple.com/pl-pl/105082" target="_blank" rel="noopener noreferrer">https://support.apple.com/pl-pl/105082</a></li>
      <li>Mozilla Firefox - <a href="https://support.mozilla.org/pl/kb/usuwanie-ciasteczek-i-danych-stron-firefox" target="_blank" rel="noopener noreferrer">https://support.mozilla.org/pl/kb/usuwanie-ciasteczek-i-danych-stron-firefox</a></li>
      <li>Microsoft Edge - <a href="https://support.microsoft.com/pl-pl/windows/zarz%C4%85dzanie-plikami-cookie-w-przegl%C4%85darce-microsoft-edge-wy%C5%9Bwietlanie-zezwalanie-blokowanie-usuwanie-i-u%C5%BCywanie-168dab11-0753-043d-7c16-ede5947fc64d" target="_blank" rel="noopener noreferrer">Zarządzanie plikami cookie w przeglądarce Microsoft Edge</a></li>
      <li>Internet Explorer - <a href="https://support.microsoft.com/pl-pl/topic/jak-usun%C4%85%C4%87-pliki-cookie-w-programie-internet-explorer-bca9446f-d873-78de-77ba-d42645fa52fc" target="_blank" rel="noopener noreferrer">https://support.microsoft.com/pl-pl/topic/jak-usunąć-pliki-cookie-w-programie-internet-explorer</a></li>
      <li>Opera - <a href="https://help.opera.com/en/latest/web-preferences/" target="_blank" rel="noopener noreferrer">https://help.opera.com/en/latest/web-preferences/</a></li>
    </ul>
  </li>

  <li>WSB-NLU zastrzega jednak, że zmiany ustawień w przeglądarce internetowej użytkownika mogą uniemożliwić niektóre funkcje serwisu, a w konsekwencji uniemożliwić poprawne działanie Serwisu.</li>

  <li>Jednocześnie, WSB-NLU umożliwia użytkownikom Serwisu wyrażenie zgody na wykorzystywanie plików cookies (nie licząc tzw. niezbędnych plików cookies) zgodnie z preferencjami danego użytkownika.</li>
</ol>

<h2>V. Wykorzystywanie numerów IP urządzenia końcowego użytkownika Serwisu</h2>

<ol>
  <li>WSB-NLU może gromadzić adresy IP użytkowników Serwisu.</li>

  <li>Adres IP to numer przydzielany urządzeniu końcowemu osoby odwiedzającej serwis internetowy przez dostawcę usług internetowych. Numer IP umożliwia dostęp do Internetu.</li>

  <li>W większości przypadków numer IP jest przypisywany komputerowi dynamicznie, tj. zmienia się przy każdym połączeniu z Internetem.</li>

  <li>Adres IP jest wykorzystywany przez WSB-NLU przy diagnozowaniu problemów technicznych z serwerem, tworzeniu analiz statystycznych (np. określeniu, z jakich regionów notujemy najwięcej odwiedzin), jako informacja przydatna przy administrowaniu i udoskonalaniu Serwisu, a także w celach bezpieczeństwa oraz ewentualnej identyfikacji obciążających serwer, niepożądanych automatycznych programów do przeglądania treści Serwisu.</li>
</ol>
