<p align="right">
    Załącznik  nr 20 <br/>
    do Uchwały Senatu WSB-NLU z siedzibą w Nowym Sączu nr 07/2018/2019 z dnia 20
    lutego 2019 r. <br/>
    w sprawie systemu jakości kształcenia WSB-NLU
</p>
<div>
    <p align="left">
        Regulamin Repozytorium Instytucjonalnego Wyższej Szkoły Biznesu –
        National Louis University <br/>
        z siedzibą w Nowym Sączu
    </p>
</div>
<p align="center">
    <strong>Wyższa Szkoła Biznesu - National-Louis University</strong>
</p>
<p align="center">
    <strong>z siedzibą w Nowym Sączu</strong>
</p>
<strong> <br clear="all"/>
</strong>
<p align="left">
    <strong></strong>
</p>
<p align="center">
    <strong>
        Regulamin Repozytorium Instytucjonalnego Wyższej Szkoły Biznesu –
        National Louis University z siedzibą w Nowym Sączu
    </strong>
</p>
<h2>
    Postanowienia ogólne
</h2>
<p>
    1.     Niniejszy dokument określa zasady gromadzenia, deponowania i
    udostępniania oraz politykę bezpieczeństwa utworów zamieszczanych w
    Repozytorium Instytucjonalnym Wyższej Szkoły Biznesu – National Louis
    University z siedzibą w Nowym Sączu (WSB-NLU).
</p>
<p>
    2.     Repozytorium cyfrowe WSB-NLU pod nazwą "
    <em>
        Repozytorium Instytucjonalne Wyższej Szkoły Biznesu – National Louis
        University"
    </em>
    <em>("Repozytorium")</em> jest tworzone w celu szerszego udostępnienia i
    promowania osiągnięć działalności naukowo badawczej oraz dydaktycznej
    WSB-NLU.
</p>
<p>
    3.     Repozytorium podlega Bibliotece WSB - NLU.
</p>
<h2>
    Zasady gromadzenia
</h2>
<p>
    1.     W <em>Repozytorium</em> są gromadzone, trwale archiwizowane i
    udostępniane cyfrowe wersje utworów pracowników i studentów WSB, w tym w
    szczególności utworów o charakterze naukowym lub dydaktycznym.
</p>
<p>
    2.     W <em>Repozytorium</em> mogą być również gromadzone utwory
    pracowników uczelni partnerskich WSB lub innych podmiotów – na podstawie
    odrębnych umów.
</p>
<p>
    3.     Deponowanie i udostępnianie zasobów Repozytorium odbywa się on-line
    za pośrednictwem serwisu internetowego działającego w oparciu o system
    DSpace.
</p>
<p>
    4.     W <em>Repozytorium</em> gromadzone są następujące publikowane i nie
    publikowane rodzaje utworów:
</p>
<p>
    a.     prace dyplomowe, zgodnie z art..15 a ustawy o prawie autorskim;
</p>
<p>
    b.     roczniki czasopism wydawanych przez WSB;
</p>
<p>
    c.     artykuły z czasopism, książki, rozdziały lub fragmenty książek;
</p>
<p>
    d.     materiały i prezentacje konferencyjne;
</p>
<p>
    e.     materiały do zajęć dydaktycznych;
</p>
<p>
    f.      materiały powstałe, jako wynik prowadzonych projektów lub badań
    finansowanych ze środków publicznych;
</p>
<p>
    g.     inne dokumenty cyfrowe.
</p>
<p>
    5.     Gromadzone w <em>Repozytorium</em> materiały mogą obejmować w
    szczególności preprinty oraz postprinty.
</p>
<p>
    <strong></strong>
</p>
<h2>
    Zasady deponowania
</h2>
<p>
    1.     Osobami uprawnionymi do deponowania materiałów w
    <em>
        Repozytorium
    </em>
    są pracownicy i studenci WSB oraz inne osoby – na podstawie odrębnych umów.
</p>
<p>
    2.     Dopuszcza się dwie formy deponowania utworów:
</p>
<p>
    a. bezpośrednio (na zasadzie autoarchiwizacji własnych prac),
</p>
<p>
    b. pośrednio (na zasadzie archiwizacji przez redaktorów
    <em>
        Repozytorium
    </em>
    ).
</p>
<p>
    3.     Depozytariusze udostępniają w <em>Repozytorium</em> publikacje
    nieodpłatnie, na podstawie:
</p>
<p align="left">
    a. otwartych licencji Creative Commons (dostępnych pod adresem
    <a href="http://creativecommons.org/licenses/by/3.0/pl/">
        http://creativecommons.org/licenses/by/3.0/pl/
    </a>
    )
</p>
<p>
    albo
</p>
<p>
    b. bezterminowej licencji niewyłącznej udzielonej WSB, określonej w
    niniejszym dokumencie.
</p>
<p>
    4.     Udzielenie licencji następuje przed rozpoczęciem procesu deponowania
    materiałów w Repozytorium. Składając materiał do zdeponowania w
    Repozytorium, jego twórca składa równocześnie:
</p>
<p>
    a. pisemne oświadczenie o udzieleniu otwartej licencji Creative Commons;
</p>
<p>
    albo
</p>
<p>
    b. wypełnioną w 2 egzemplarzach umowę licencyjną.
</p>
<p>
    5.     Aby zdeponować pracę, która została wcześniej opublikowana, niezbędna
    jest zgoda wydawcy lub innego podmiotu, na który autor przeniósł autorskie
    prawa majątkowe do danego utworu albo, któremu autor udzielił licencji
    wyłącznej na ten sam utwór na to samo pole eksploatacji. Jeśli autor zawarł
    umowę z wydawcą lub innym podmiotem, dotyczącą przeniesienia autorskich praw
    majątkowych albo udzielenia licencji wyłącznej na ten sam utwór oraz to samo
    pole eksploatacji, powinien sprawdzić dokładnie warunki umowy lub zapytać o
    zgodę wydawcę lub taki inny podmiot (<em>informacja: serwis Sherpa Romeo
    dostępny pod adresem:</em><a href="http://www.sherpa.ac.uk/romeo/">
    <em>
        http://www.sherpa.ac.uk/romeo/
    </em>
    </a><em>prowadzi katalog umów pomiędzy wydawcami a autorami publikacji.
    Korzystanie z tego serwisu umożliwia zapoznanie się z polityką wydawców w
    sprawie zakresu praw autora do zamieszczania materiałów źródłowych prac w
    repozytoriach</em>).
</p>
<p>
    6.     Przed udostępnieniem utworu w Repozytorium WSB redaktorzy
    Repozytorium sprawdzają, czy zostały spełnione wynikające z niniejszego
    Regulaminu warunki formalne.
</p>
<p>
    7.     Proces deponowania materiałów w <em>Repozytorium</em>, kończy się
    weryfikacją i korektą opisu zasobu (metadanych) wykonywaną przez
    wyznaczonych redaktorów <em>Repozytorium</em>.
</p>
<p>
    8.     Autor treści udostępnianych <em>Repozytorium</em> ponosi pełną
    odpowiedzialność za zamieszczone materiały i odpowiada również za ewentualne
    naruszenia praw autorskich i majątkowych osób trzecich.
</p>
<p>
    9.     Materiały naruszające przepisy prawa powszechnie obowiązującego albo
    niniejszy Regulamin mogą być usunięte przez administratora
    <em>
        Repozytorium
    </em>
    bez zgody autora. Zapis niniejszego ustępu dotyczy w szczególności zasobów w
    stosunku, do których zostało zgłoszone naruszenie praw autorskich, innych
    praw własności intelektualnej lub dóbr osobistych jakichkolwiek osób.
</p>
<h2>
    Zasady udostępniania
</h2>
<p>
    1.     W granicach dopuszczalnych przez przepisy prawa powszechnie
    obowiązującego, metadane <em>Repozytorium</em> są udostępniane bez
    ograniczeń.
</p>
<p>
    2.     Zasoby <em>Repozytorium</em> są udostępniane zgodnie z licencjami
    udzielonymi przez depozytariuszy <em>Repozytorium</em>.
</p>
<p>
    3.     Udostępnianie zasobów <em>Repozytorium</em> odbywa się z
    poszanowaniem praw autorskich, na podstawie i w zakresie wynikającym z
    licencji udzielanych przez autorów utworów.
</p>
<p>
    4.     Zasoby <em>Repozytorium</em> mogą być wykorzystywane tylko na użytek
    własny ich odbiorców, do celów naukowych, dydaktycznych lub edukacyjnych.
    Warunkiem wykorzystania zasobu jest podanie: nazwiska autora/ów, tytułu i
    pełnych danych bibliograficznych wraz z adresem internetowym do strony
    Repozytorium.
</p>
<p>
    5.     Dostęp do poszczególnych materiałów może być różny dla różnych grup
    użytkowników.
</p>
<h2>
    Polityka przechowywania i bezpieczeństwa
</h2>
<p>
    1.     Zamieszczone w <em>Repozytorium</em> utwory stanowią własność
    intelektualną ich autorów i podlegają ochronie zgodnie z przepisami prawa
    powszechnie obowiązującego, w tym zwłaszcza przepisami prawa autorskiego.
</p>
<p>
    2.     Zasób Repozytorium jest przechowywany bezterminowo z zachowaniem
    polityki bezpieczeństwa danych.
</p>
<p>
    3.     Elementem niniejszego regulaminu jest treść polityki prywatności dla
    użytkowników Repozytorium WSB-NLU oraz treść umowy licencyjnej niewyłącznej.
</p>
<br clear="all"/>
<p align="center">
    <strong>Polityka prywatności Repozytorium WSB-NLU</strong>
</p>
<p>
    <strong><u>Wprowadzenie</u></strong>
</p>
<p>
    <strong>Polityka.</strong>Niniejszy dokument, zwany dalej „<strong>Polityką 
    Prywatności</strong>”, określa zasady przetwarzania danych osobowych osób
    odwiedzających i korzystających ze strony internetowej
    http://repozytorium.wsb-nlu.edu.pl, zwanej dalej „<strong>Portalem</strong>.” 
    Osoby te będą zwane dalej „<strong>Użytkownikami</strong>”.
</p>
<p>
    <strong>Administrator.</strong>Właścicielem Portalu i zarazem
    <strong>
        administratorem danych osobowych
    </strong>
    w rozumieniu Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z
    dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z
    przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich
    danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie
    danych), zwanego dalej „<strong>RODO</strong>"), jest Wyższa Szkoła Biznesu
    - National Louis University z siedzibą w Nowym Sączu ul. Zielona 27, 33- 300
    Nowy Sącz, NIP: 734-10-03-635, REGON: 490028409 (dalej jako
    „Administrator”). Możecie Państwo skontaktować się z nami przez adres
    e-mail: <a href="mailto:rektorat@wsb-nlu.edu.pl">rektorat@wsb-nlu.edu.pl</a>
    , telefonicznie pod numerem: +48 (18) 44 99 111 lub listownie na adres
    siedziby, zwana dalej „<strong>Administratorem</strong>.”
</p>
<p>
    <strong>Inspektor Ochrony Danych.</strong>Administrator wyznaczył inspektora
    ochrony danych, z którym należy się kontaktować w kwestii jakichkolwiek
    pytań związanych ze sposobem przetwarzania danych osobowych przed
    Administratora, jak również w celu realizacji praw przysługujących osobom
    fizycznym na gruncie RODO. W celu skontaktowania się z inspektorem ochrony
    danych należy wysłać wiadomość e-mail na adres:
    <a href="mailto:inspektor@wsb-nlu.edu.pl">
        inspektor@wsb-nlu.edu.pl
    </a>
    .
</p>
<p>
    Dane osobowe korzystających ze strony internetowej
    http://repozytorium.wsb-nlu.edu.pl są przetwarzane zgodnie z Rozporządzeniem
    Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w
    sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych
    i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy
    95/46/WE (ogólne rozporządzenie o ochronie danych) (dalej jako: „RODO”), a
    także zgodnie z ustawą o świadczeniu usług drogą elektroniczną z dnia 18
    lipca 2002 r. (Dz. U.2020.344 t.j.).
</p>
<p>
    Administrator dokłada szczególnej staranności w celu ochrony interesów osób,
    których dane dotyczą, a w szczególności zapewnia, że zbierane przez niego
    dane są przetwarzane zgodnie z prawem, rzetelnie i w sposób przejrzysty,
    zbierane w konkretnych, wyraźnych i prawnie uzasadnionych celach i
    nieprzetwarzane dalej w sposób niezgodny z tymi celami, adekwatne, stosowne
    oraz ograniczone do tego, co niezbędne do celów, w których są przetwarzane,
    prawidłowe i w razie potrzeby uaktualniane, przechowywane w formie
    umożliwiającej identyfikację osoby, której dane dotyczą, przez okres nie
    dłuższy, niż jest to niezbędne do celów, w których dane te są przetwarzane,
    przetwarzane w sposób zapewniający odpowiednie bezpieczeństwo danych
    osobowych, w tym ochronę przed niedozwolonym lub niezgodnym z prawem
    przetwarzaniem oraz przypadkową utratą, zniszczeniem lub uszkodzeniem, za
    pomocą odpowiednich środków technicznych lub organizacyjnych.
</p>
<p>
    <strong>
        <u>Cele i zakres przetwarzanych danych za pośrednictwem Portalu</u>
    </strong>
</p>
<p>
    Dane osobowe Użytkowników są przetwarzane za pośrednictwem Portalu w
    następujących celach:
</p>
<ul>
    <li>
        <strong>zalogowania do Portalu</strong>, za pomocą indywidualnego loginu
        i hasła studenta/pracownika/współpracownika Administratora i zarządzania
        tym kontem. <strong>Podstawa prawna:</strong> art. 6 ust. 1 lit. b)
        RODO;
    </li>
    <li>
        <strong>umożliwienia korzystania z funkcjonalności Portalu</strong>.
        <strong>Podstawa prawna:</strong> art. 6 ust. 1 lit. b) RODO;
    </li>
    <li>
        <strong>
            prowadzenia kontaktu z Użytkownikiem i obsługi reklamacji
        </strong>
        . <strong>Podstawa prawna</strong>: art. 6 ust. 1 lit. b) i c) RODO.
    </li>
    <li>
        <strong>dochodzenia ewentualnych roszczeń od
        Użytkownika,</strong>powstałych w szczególności na skutek niezgodnego z
        prawem lub regulaminem korzystania z Portalu.
        <strong>
            Podstawa prawna:
        </strong>
        art. 6 ust. 1 lit. f) RODO.
    </li>
</ul>
<p>
    Podanie danych osobowych jest dobrowolne, przy czym w każdorazowo określonym
    zakresie jest ono niezbędne do skorzystania z wybranych przez Użytkownika
    usług świadczonych przez Administratora (niepodanie odpowiednich danych
    skutkuje brakiem możliwości wykonania usług przez Administratora).
</p>
<p>
    Dane osobowe Użytkownika nie będą podlegały profilowaniu.
</p>
<p>
    <strong>Pliki cookies.</strong>Podczas korzystania z Portalu mogą być
    pobierane dodatkowe informacje, w szczególności: adres IP przypisany do
    komputera Użytkownika lub zewnętrzny adres IP dostawcy Internetu, nazwa
    domeny, rodzaj przeglądarki, czas dostępu, typ systemu operacyjnego.
</p>
<p>
    Każdorazowe odwiedzanie strony internetowej
    http://repozytorium.wsb-nlu.edu.pl  jest związane z przesyłaniem zapytania
    do serwera, na którym umieszczona jest ta strona. Każde zapytanie skierowane
    do serwera zapisywane jest w logach serwera. Logi serwera zawierają m.in.
    adres IP Użytkownika, datę i czas zdarzenia, informacje o przeglądarce
    internetowej i systemie operacyjnym z jakiego Użytkownik korzysta.
    Informacje te są zapisywane i przechowywane na serwerze, z którego korzysta
    Administrator. Dane zapisane w logach serwera nie są kojarzone z konkretnymi
    osobami korzystającymi ze strony internetowej
    http://repozytorium.wsb-nlu.edu.pl  i nie są wykorzystywane w celu
    identyfikacji Użytkownika. Logi serwera służą jako pomoc do administrowania
    stroną http://repozytorium.wsb-nlu.edu.pl, a ich zawartość nie jest
    ujawniana nikomu poza osobami upoważnionymi do administrowania serwerem.
</p>
<p>
    Dane osobowe Użytkownika strony internetowej
    http://repozytorium.wsb-nlu.edu.pl pozyskane przy pomocy plików Cookies,
    mogą być przetwarzane w celu:
</p>
<ul>
    <li>
        umożliwienia Użytkownikowi korzystania ze strony
        http://repozytorium.wsb-nlu.edu.pl i funkcjonalności na niej dostępnych
        - na podstawie art. 6 ust. 1 lit. b) RODO, tj. przetwarzanie jest
        niezbędne do zawarcia i wykonywania umowy (której przedmiotem jest
        realizacja usług świadczonych przez Administratora), której osoba, która
        zamówiła usługę jest stroną lub do podjęcia działań na żądanie tej osoby
        przed zawarciem umowy;
    </li>
    <li>
        zbierania zagregowanych statystyk, które pozwalają Administratorowi
        zrozumieć jak Użytkownicy korzystają ze strony internetowej
        http://repozytorium.wsb-nlu.edu.pl oraz pomagają w administrowaniu
        stroną internetową http://repozytorium.wsb-nlu.edu.pl oraz poprawianiu
        jej funkcjonalności i zawartości - na podstawie art. 6 ust. 1 lit. a)
        RODO, tj. na podstawie dobrowolnej zgody Użytkownika;
    </li>
    <li>
        ustalenia lub dochodzenia roszczeń lub obrony przed ewentualnymi
        roszczeniami pomiędzy Użytkownikiem strony internetowej
        http://repozytorium.wsb-nlu.edu.pl  a Administratorem – na podstawie
        art. 6 ust. 1 lit. f) RODO, tj. na podstawie prawnie uzasadnionego
        interesu realizowanego przez Administratora, którym jest możliwość
        ustalenia i dochodzenia roszczeń i obrona przed roszczeniami.
    </li>
</ul>
<p>
    <strong><u> <br/>
    Prawa Użytkowników wynikające z RODO</u></strong>
</p>
<p>
    <strong>1.</strong><strong>Prawo dostępu do danych. Podstawa prawna:</strong>art. 
    15 RODO. <strong></strong>
</p>
<p>
    Użytkownik ma prawo uzyskać od Administratora potwierdzenie, czy przetwarza
    dane osobowe, a jeżeli ma to miejsce, Użytkownik ma w szczególności prawo do
    uzyskania:
</p>
<p>
    a.     dostępu do swoich danych osobowych;
</p>
<p>
    b.     informacje o celach przetwarzania, kategoriach przetwarzanych danych
    osobowych, o odbiorcach lub kategoriach odbiorców tych danych, planowanym
    okresie przechowywania danych Użytkownika albo o kryteriach ustalania tego
    okresu (gdy określenie planowanego okresu przetwarzania danych nie jest
    możliwe), o prawach przysługujących Użytkownikowi na mocy RODO oraz o prawie
    wniesienia skargi do organu nadzorczego, o źródle tych danych, o
    zautomatyzowanym podejmowaniu decyzji, w tym o profilowaniu oraz o
    zabezpieczeniach stosowanych w związku z przekazaniem tych danych poza Unię
    Europejską;
</p>
<p>
    c.     kopii swoich danych osobowych.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>2.</strong><strong>Prawo do sprostowania danych. Podstawa prawna:</strong>art. 
    16 RODO. <strong></strong>
</p>
<p>
    Użytkownik ma prawo do żądania od Administratora niezwłocznego sprostowania
    jego danych osobowych, jeżeli stwierdzi, że są nieprawidłowe.
</p>
<p>
    <strong>3.</strong><strong>Prawo do usunięcia danych („prawo do bycia
    zapomnianym”)</strong>. <strong>Podstawa prawna:</strong> art. 17 RODO.
</p>
<p>
    Użytkownik ma prawo żądania usunięcia danych osobowych, w szczególności,
    jeżeli:
</p>
<p>
    a.     dane osobowe nie są już niezbędne do celów, w których zostały zebrane
    lub w których były przetwarzane;
</p>
<p>
    b.     wycofał określoną zgodę, w zakresie w jakim dane osobowe były
    przetwarzane na jej podstawie;
</p>
<p>
    c.     wniósł sprzeciw wobec wykorzystywania jego danych w celach
    marketingowych;
</p>
<p>
    d.     dane osobowe są przetwarzane niezgodnie z prawem;
</p>
<p>
    e.     dane osobowe muszą zostać usunięte w celu wywiązania się z obowiązku
    prawnego przewidzianego w prawie Unii lub prawie Państwa członkowskiego,
    któremu Administrator. podlega;
</p>
<p>
    f.      dane osobowe zostały zebrane w związku z oferowaniem usług
    społeczeństwa informacyjnego. <br/>
    <br/>
</p>
<p>
    <strong>4.</strong>
    <strong>
        Prawo do ograniczenia przetwarzania danych.
    </strong>
    <strong>Podstawa prawna:</strong> art. 18 RODO.
</p>
<p>
    a.     Użytkownik ma prawo do żądania ograniczenia przetwarzania jego danych
    osobowych. Zgłoszenie żądania, do czasu jego rozpatrzenia uniemożliwia
    korzystanie z określonych funkcjonalności lub usług, z których korzystanie
    będzie się wiązało z przetwarzaniem danych objętych żądaniem. Administrator
    nie będzie też wysyłał żadnych komunikatów, w tym marketingowych.
</p>
<p>
    b.     Użytkownik ma prawo do żądania ograniczenia wykorzystania danych
    osobowych, gdy:
</p>
<p>
    i.     kwestionuje prawidłowość swoich danych osobowych – wówczas
    Administrator ogranicza ich wykorzystanie na czas potrzebny do sprawdzenia
    prawidłowości danych, nie dłużej jednak niż na 7 dni;
</p>
<p>
    ii.     przetwarzanie danych jest niezgodne z prawem, a zamiast usunięcia
    danych Użytkownik zażąda ograniczenia ich przetwarzania;
</p>
<p>
    iii.     dane osobowe przestały być niezbędne do celów, w których zostały
    zebrane lub wykorzystywane ale są one potrzebne Użytkownikowi w celu
    ustalenia, dochodzenia lub obrony roszczeń;
</p>
<p>
    iv.     wniósł sprzeciw wobec wykorzystania jego danych – wówczas
    ograniczenie następuje na czas potrzebny do rozważenia, czy – ze względu na
    szczególną sytuację – ochrona interesów, praw i wolności Użytkownika
    przeważa nad interesami, które realizuje Administrator, przetwarzając dane
    osobowe Użytkownika. <br/>
    <br/>
</p>
<p>
    <strong>5.</strong><strong>Prawo do przenoszenia danych. Podstawa prawna:</strong>art. 
    20 RODO. <strong></strong>
</p>
<p>
    Użytkownik ma prawo otrzymać swoje dane osobowe, które dostarczył
    Administratorowi, a następnie przesłać je do innego, wybranego przez siebie,
    administratora danych osobowych. Użytkownik ma również prawo żądać, by dane
    osobowe zostały przesłane przez Administratora bezpośrednio takiemu
    administratorowi, o ile jest to technicznie możliwe. W takim przypadku
    Administrator prześle dane osobowe Użytkownika w postaci pliku w formacie
    .csv, który jest formatem powszechnie używanym, nadającym się do odczytu
    maszynowego i pozwalającym na przesłanie otrzymanych danych do innego
    administratora danych osobowych.
</p>
<p>
    <strong>6.</strong><strong>Prawo do sprzeciwu wobec przetwarzania danych.
    Podstawa prawna:</strong>art. 21 RODO. <strong></strong>
</p>
<p>
    a.     Użytkownik ma prawo w dowolnym momencie wnieść sprzeciw – z przyczyn
    związanych z jego szczególną sytuacją – wobec przetwarzania jego danych
    osobowych, w tym profilowania, jeżeli Administrator przetwarza jego dane w
    oparciu o prawnie uzasadniony interes, np. marketing produktów i usług
    Administrator, prowadzenie statystyki korzystania z poszczególnych
    funkcjonalności Portalu oraz ułatwienie korzystania z serwisu internetowego,
    a także badanie satysfakcji.
</p>
<p>
    b.     Rezygnacja w formie wiadomości e-mail z otrzymywania komunikatów
    marketingowych dotyczących produktów lub usług, będzie oznaczać sprzeciw
    Użytkownika na przetwarzanie jego danych osobowych, w tym profilowania w
    tych celach.
</p>
<p>
    c.     Jeżeli sprzeciw Użytkownika okaże się zasadny i Administrator nie
    będzie miał innej podstawy prawnej do przetwarzania danych osobowych, dane
    osobowe Użytkownika zostaną usunięte, wobec przetwarzania których,
    Użytkownik wniósł sprzeciw. <br/>
    <br/>
</p>
<p>
    <strong>7.</strong><strong>Prawo do wniesienia skargi do Prezesa Urzędu
    Ochrony Danych Osobowych</strong>, w zakresie naruszenia praw Użytkownika do
    ochrony danych osobowych lub innych praw przyznanych na mocy RODO, na adres
    Urzędu Ochrony Danych Osobowych ul. Stawki 2, 00-193 Warszawa (tel. 22
    531-03-00; e-mail: kancelaria@uodo.gov.pl).
</p>
<p>
    <strong>Termin odpowiedzi.</strong>W sytuacji wystąpienia przez Użytkownika
    z uprawnieniem wynikającym z powyższych praw, Administrator spełnia żądanie
    albo odmawia jego spełnienia niezwłocznie, nie później jednak niż w ciągu
    miesiąca po jego otrzymaniu.
</p>
<p>
    Jeżeli jednak – z uwagi na skomplikowany charakter żądania lub liczbę żądań
    – Administrator nie będzie mógł spełnić żądania w ciągu miesiąca, spełni je
    w ciągu kolejnych dwóch miesięcy informując Użytkownika uprzednio w terminie
    miesiąca od otrzymania żądania – o zamierzonym przedłużeniu terminu oraz
    jego przyczynach.
</p>
<p>
    <strong><u>Odbiorcy danych osobowych</u></strong>
</p>
<p>
    Dane osobowe Użytkownika przekazywane są podmiotom współpracującym z
    Administratorem w zapewnianiu funkcjonowania Portalu. Są to m.in. dostawcy
    świadczący usługę hostingu, usługi księgowe, dostarczający systemy do
    marketingu, systemy do analizy ruchu w serwisie internetowym, czy systemy do
    analizy skuteczności kampanii marketingowych;
</p>
<p>
    <strong><u>Zakres terytorialny przetwarzania danych</u></strong>
</p>
<p>
    Dane osobowe Użytkowników będą przetwarzane wyłącznie na terytorium
    Europejskiego Obszaru Gospodarczego (EOG).
</p>
<p>
    <strong><u>Czas przetwarzania danych osobowych</u></strong>
</p>
<p>
    <strong>
        W przypadku, gdy podstawą przetwarzania danych osobowych jest
    </strong>
    <strong>zgoda</strong> (art. 6 ust. 1 lit. a RODO), wówczas dane osobowe
    Użytkownika przetwarzane są przez Administratora tak długo, aż zgoda nie
    zostanie odwołana, a po odwołaniu zgody przez okres czasu odpowiadający
    okresowi przedawnienia roszczeń jakie może podnosić Administrator jakie mogą
    być podnoszone wobec niego. Jeżeli przepis szczególny nie stanowi inaczej,
    termin przedawnienia wynosi lat sześć, a dla roszczeń o świadczenia okresowe
    oraz roszczeń związanych z prowadzeniem działalności gospodarczej – trzy
    lata.
</p>
<p>
    <strong>
        W przypadku, gdy podstawą przetwarzania danych jest wykonanie umowy
    </strong>
    (art. 6 ust. 1 lit. b RODO), wówczas dane osobowe Użytkownika przetwarzane
    są przez Administratora tak długo, jak jest to niezbędne do wykonania umowy,
    a po tym czasie przez okres odpowiadający okresowi przedawnienia roszczeń.
    Jeżeli przepis szczególny nie stanowi inaczej, termin przedawnienia wynosi
    lat sześć, a dla roszczeń o świadczenia okresowe oraz roszczeń związanych z
    prowadzeniem działalności gospodarczej – trzy lata.
</p>
<p>
    Ponadto, pomimo żądania usunięcia danych osobowych, w związku z wniesieniem
    sprzeciwu lub wycofaniem zgody, Administrator może zachować pewne dane
    osobowe w zakresie, w jakim przetwarzanie jest niezbędne do ustalenia,
    dochodzenia lub obrony roszczeń, jak również do wywiązania się z prawnego
    obowiązku wymagającego przetwarzania na mocy prawa Unii lub prawa państwa
    członkowskiego, któremu podlega Administrator. Dotyczy to w szczególności
    danych osobowych obejmujących: imię, nazwisko, adres e-mail, które to dane
    zachowywane są dla celów rozpatrywania skarg oraz roszczeń związanych z
    korzystaniem z usług Administrator, czy też dodatkowo adresu
    zamieszkania/adresu korespondencyjnego, numeru zamówienia, które to dane
    zachowywane są dla celów rozpatrywania skarg oraz roszczeń związanych z
    zawartymi umowami sprzedaży lub świadczeniem usług.
</p>
<h2>Formularz umowy licencyjnej niewyłącznej</h2>
<p><strong>Umowa licencyjna niewyłączna</strong></p>
<p><strong>na korzystanie z autorskich praw majątkowych</strong></p>
<p>zawarta w Nowym Sączu, w dniu &hellip;&hellip;&hellip;&hellip;..&hellip;.., pomiędzy</p>
<p>Tw&oacute;rcą &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.</p>
<p>zamieszkałym &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
<p>zwanym dalej &bdquo;<strong>Licencjodawcą</strong>&rdquo;</p>
<p>a</p>
<p>Wyższą Szkołą Biznesu &ndash; National Louis University z siedzibą w Nowym Sączu, przy</p>
<ol>
<li>Zielonej 27, 33-300 Nowy Sącz, reprezentowaną przez Dyrektora Biblioteki WSB-NLU</li>
</ol>
<p>działającego na podstawie pełnomocnictwa udzielonego przez Rektora,</p>
<p>zwaną dalej &bdquo;<strong>Licencjobiorcą</strong>&rdquo;</p>
<ul>
<li>1</li>
</ul>
<p>Przedmiotem umowy jest udzielenie licencji niewyłącznej na korzystanie z autorskich praw majątkowych do utworu/utwor&oacute;w pt.:</p>
<ol>
<li>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</li>
</ol>
<p>kt&oacute;rego Tw&oacute;rcą jest/Tw&oacute;rcami są:</p>
<p>..................&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
<ul>
<li>2</li>
</ul>
<p>Licencjodawca oświadcza, że</p>
<ol>
<li>a) w zakresie objętym niniejszą umową przysługują mu autorskie prawa majątkowe do utworu,</li>
<li>b) utw&oacute;r nie narusza praw os&oacute;b trzecich,</li>
<li>c) korzystanie z utworu przez Licencjobiorcę nie będzie naruszać praw os&oacute;b trzecich.</li>
</ol>
<ul>
<li>3<br /><br /></li>
</ul>
<ol>
<li>Licencjodawca udziela Licencjobiorcy niewyłącznej licencji na korzystanie i rozporządzanie autorskim prawem majątkowym do utworu określonego w &sect; 1, na następujących polach eksploatacji:</li>
</ol>
<ol>
<li>zwielokrotnienia utworu techniką cyfrową (digitalizacja),</li>
<li>przechowywania i archiwizowania utworu w formie elektronicznej w Repozytorium Instytucjonalnym WSB-NLU,</li>
<li>wprowadzenia utworu, jak i jego części do pamięci og&oacute;lnie dostępnego komputera,</li>
<li>wprowadzenia utworu do pamięci komputera udostępnianego na terenie biblioteki,</li>
<li>rozpowszechniania utworu online <em>(przed wydrukiem wybrać jedną z poniższych opcji)</em>:
<ul>
<li>udostępnienie w Internecie dla wszystkich, bez ograniczeń;</li>
<li>udostępnienie w Internecie dla wszystkich, z wyłączoną możliwością zwielokrotniania w formie wydruku komputerowego oraz edycji;</li>
<li>przez udostępnianie z komputer&oacute;w należących do sieci uczelnianej (domena WSB-NLU), bez ograniczeń;</li>
<li>przez udostępnianie z komputer&oacute;w należących do sieci uczelnianej (domena WSB-NLU), z wyłączoną możliwością zwielokrotniania w formie wydruku komputerowego oraz edycji.</li>
</ul>
</li>
</ol>
<ol>
<li>Przeniesienie praw, o kt&oacute;rych mowa w ust. 1 jest nieodpłatne.</li>
<li>Przeniesienie praw, o kt&oacute;rych mowa w ust. 1 nie jest ograniczone w czasie ani terytorialnie.</li>
</ol>
<ul>
<li>4</li>
</ul>
<p>W zakresie uzasadnionym korzystaniem z utworu na podstawie niniejszej licencji Licencjodawca wyraża zgodę na zmianę przez Licencjobiorcę formatu, w jakim pierwotnie zapisany został utw&oacute;r, bez zmiany jego treści.</p>
<ul>
<li>5</li>
</ul>
<p>W sprawach nieuregulowanych niniejszą umową zastosowanie mają przepisy Kodeksu Cywilnego oraz ustawy o prawie autorskim i prawach pokrewnych.</p>
<ul>
<li>6</li>
</ul>
<p>Wszelkie sprawy wynikające z realizacji niniejszej umowy, będą rozstrzygane polubownie, a w przypadku braku porozumienia przez sąd właściwy dla siedziby Licencjobiorcy.</p>
<ul>
<li>7</li>
</ul>
<p>Zmiana niniejszej umowy wymaga formy pisemnej pod rygorem nieważności.</p>
<ul>
<li>8</li>
</ul>
<p>Umowę sporządzono w dw&oacute;ch jednobrzmiących egzemplarzach, po jednym dla każdej ze stron.</p>
<p>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;. &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
<p>Licencjobiorca Licencjodawca</p>
