<div class="thumbnail" [class.limit-width]="limitWidth">
  @if (isLoading()) {
    <div class="thumbnail-content outer">
      <div class="inner">
        <div class="centered">
          <ds-loading [spinner]="true"></ds-loading>
        </div>
      </div>
    </div>
  }
  <!-- don't use *ngIf="!isLoading" so the thumbnail can load in while the animation is playing -->
  @if (src() !== null) {
    <img class="thumbnail-content img-fluid"
         [style.visibility]="isLoading() ? 'hidden' : 'visible'"
         [src]="src() | dsSafeUrl"
         [alt]="alt | translate"
         width="210"
         height="297"
         loading="lazy"
         decoding="async"
         (error)="errorHandler()"
         (load)="successHandler()"/>
  }
  @if (src() === null && isLoading() === false) {
    <div class="thumbnail-content outer">
      <div class="inner">
        <div class="thumbnail-placeholder centered">
          <img src="assets/images/drzewo.png" [attr.alt]="placeholder | translate" class="placeholder-logo"/>
        </div>
      </div>
    </div>
  }
</div>
